/* ==========================
    Sidebar Mobile Menu
==============================*/
.popup-mobile-menu-wrapper .popup-mobile-manu {
  visibility: visible;
  opacity: 1; }
  .popup-mobile-menu-wrapper .popup-mobile-manu .inner {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }

.popup-mobile-manu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  cursor: url(escuela/img/icons/light-close.png) 16 16, pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 99999; }
  .popup-mobile-manu .inner {
    background: #000000;
    position: relative;
    width: 400px;
    max-width: 80%;
    height: 100%;
    text-align: left;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow-y: auto;
    padding-top: 85px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    cursor: default; }
    .popup-mobile-manu .inner .mobileheader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 15px 0 30px;
      height: 85px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff; }
      .popup-mobile-manu .inner .mobileheader .logo {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .popup-mobile-manu .inner .mobileheader .logo a img {
          width: 115px;
          height: auto;
          max-width: 100%; }
      .popup-mobile-manu .inner .mobileheader a.mobile-close {
        position: relative;
        cursor: pointer;
        height: 40px;
        width: 40px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        .popup-mobile-manu .inner .mobileheader a.mobile-close::before, .popup-mobile-manu .inner .mobileheader a.mobile-close::after {
          position: absolute;
          top: 19px;
          left: 8px;
          content: "";
          width: 24px;
          height: 3px;
          background: #222;
          -webkit-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
        .popup-mobile-manu .inner .mobileheader a.mobile-close::before {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .popup-mobile-manu .inner .mobileheader a.mobile-close::after {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .popup-mobile-manu .inner .mobileheader a.mobile-close:hover::before, .popup-mobile-manu .inner .mobileheader a.mobile-close:hover::after {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none; }

/* =======================
    Header menu
==========================*/
.object-custom-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 20px 40px 30px; }
  .object-custom-menu li.has-mega-menu {
    position: relative;
    border-top: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.15); }
    .object-custom-menu li.has-mega-menu:first-child {
      border: 0 none; }
    .object-custom-menu li.has-mega-menu > a {
      padding-top: 19px;
      padding-bottom: 19px;
      display: block;
      position: relative; }
      .object-custom-menu li.has-mega-menu > a span {
        font-size: 14px;
        color: #999999; }
      .object-custom-menu li.has-mega-menu > a::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        text-align: center;
        line-height: 40px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "\f107";
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .object-custom-menu li.has-mega-menu > a.active::after {
        content: "\f106"; }
    .object-custom-menu li.has-mega-menu .object-submenu {
      display: none;
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 30px;
      margin-bottom: 30px; }
      .object-custom-menu li.has-mega-menu .object-submenu li.title {
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        margin: 0 0 18px; }
      .object-custom-menu li.has-mega-menu .object-submenu li a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block; }
        .object-custom-menu li.has-mega-menu .object-submenu li a span {
          font-size: 14px;
          color: #999999; }
